/*html, body, section, div {
  height: 100%;
}*/

body {
    font-family: lato;
    margin: 0px;
}
article {
    padding: 2em;
}
article h1 {
    font-size: 2em;
}
i {
    font-size: 5em;
    padding: 30px;
}
input {
    border: none;
    padding: 10px;
    text-align: left;
    width: 100%;
    font-size: 16px;
    border-bottom: 2px solid grey;
}
input:focus {
    outline: none;
}

/* Pattern styles */

.left-half {
    float: left;
    width: 40%;
}
.right-half {
    background-color: #b6701e;
    float: left;
    width: 60%;
}
.wrapper {
    width: 100%;
}
.tempBox, .iconBox {
    float: left;
}
.tempBox {
    font-size: 3em;
}
.iconBox {
    position: relative;
    top: 20px;
}
#googleMap {
    width: 100%;
    height: 100%;
    position: absolute;
}
@media (max-width: 700px) {
    .left-half {
        width: 100%;
        height: auto;
    }
    .right-half {
        width: 100%;
        height: auto;
    }
}
